<canvas id="canvas1" style="border: 5px solid black; width:800px; height:480px;">
    
</canvas>
<button id="logout">Log Out</button>
<script src="/js/logout.js"></script>
<script src="/js/game/game.js"></script>