
<div class="main-container">
    <div class="sub-container">
        <div class="welcome-buttons">
            <div class="inputContainer">
                <div class="title"><h1>Log In</h1></div>
                    <input class="userBox" type="text" id="username" name="username" placeholder="Username">
                    <input class="emailBox" type="email" id="email" name="email" placeholder="Email">
                    <input class="passBox" type="password" id="pass" name="password" placeholder="Password">
                    <button id="logInButton" class="button">Log In</button>
            </div>
            <div class="inputContainerSu">
                <div class="title"><h1>Sign Up</h1></div>
                    <input class="userBox" type="text" id="username" name="username" placeholder="Username">
                    <input class="emailBox" type="text" id="email" name="email" placeholder="Email">
                    <input class="passBox" type="password" id="pass" name="password" placeholder="Password">
                    <label id="passLabel" for="pass">8 character minimum</label>
                    <input class="passBox" type="password" id="pass" name="password" placeholder="Confirm Password">
                    <button id="signUpButton" class="button">Sign Up</button>
            </div>
        </div>
    </div>
</div>


