<header>
    <h1>Dungeon Game</h1>
</header>
<div class="main-container">
    {{!-- <div class="sub-container"> --}}
        <div class="welcome-buttons">
            <div class="inputContainer">
                <div class="title"><h1>Log In</h1></div>
                    <form id="loginForm">
                        <input class="userBox" type="text" id="userEmail" name="email" placeholder="Email">
                        {{!-- <input class="emailBox" type="email" id="email" name="email" placeholder="Email"> --}}
                        <input class="passBox" type="password" id="userPass" name="password" placeholder="Password">
                        <button id="logInButton" class="button" type="submit">Log In</button>
                    </form>
            </div>
            <div class="inputContainerSu">
                <div class="title"><h1>Sign Up</h1></div>
                    <form id="signupForm">
                        <input class="userBox" type="text" id="username" name="username" placeholder="Username">
                        <input class="emailBox" type="text" id="email" name="email" placeholder="Email">
                        <input class="passBox" type="password" id="pass" name="password" placeholder="Password">
                        <input class="passBox" type="password" id="conPass" name="conPassword" placeholder="Confirm Password">
                        <button id="signUpButton" class="button" type="submit">Sign Up</button>
                    </form>
                    <script src="/js/login.js"></script>

            </div>
        </div>
    {{!-- </div> --}}
</div>

