    <div class="main-container">
        <div class="sub-container">
            <nav class="naviGate"></nav>
            <div class="welcome-buttons">
                <div class="loginBox"><button>Log In</button></div>
                <div class="signupBox"><button>Sign Up</button></div>
            </div>
            <footer>GAMER4LYFE</footer>
        </div>
    </div>

