<header>
    <h1>Dungeon Game</h1>
</header>
<div class="profileContainer">
    <div class="subContainer">
        <div class="modal">
            <h1>Avatar</h1>
        </div>
        <div id="profile" class="modal">
            <h1>Profile</h1>
            <div id="profileInfo">
                <div class="subModal">
                    <ul>
                        <li>Username: {{username}}</li>
                        <li>Email: {{email}}</li>
                        <li>Date Created: {{format_date date}}</li>
                    </ul>
                </div>
                <div id="buttons" class="subModal">
                    <ul>
                        <li><button id="play" class="profile-button">Play</button></li>
                        <li><button id="save" class="profile-button">Save</button></li>
                        <li><button id="logout" class="profile-button">Log Out</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="subContainer">
        <div id="controls" class="modal">
            <h1>Controls</h1>
            <ul>
                <li>Move Left: LEFT Arrow</li>
                <li>Move Right: RIGHT Arrow</li>
                <li>Jump: UP Arrow</li>
                <li>Attack: SPACE BAR</li>
                {{!-- <li>Interact: DOWN Arrow</li> --}}
            </ul>
        </div>
        <div id="stats" class="modal">
            <h1>Profile</h1>
            <div id="profileInfo">
                <div class="subModal">
                    <ul>
                        <li>Time Played: 00m 00s</li>
                        <li>Deaths: 00</li>
                        <li>Jumps: 00</li>
                    </ul>
                </div>
                <div class="subModal">
                    <ul>
                        <li>High Score: 0000</li>
                        <li>Total Score: 000000</li>
                        <li>Extra: 0000</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/logout.js"></script>
<script src="/js/profile.js"></script>
