<div>
    <nav>
        <ul>
            <li><a>Save/ Load</a></li>
            <li><a>Profile</a></li>
            <li><a>Settings</a></li>
            <li><a>Controls</a></li>
        </ul>
    </nav>
    <div>
        <h2>Profile</h2>
    </div>

</div>