
<button id="logout" class="gameButton">Log Out</button>
<canvas id="canvas1">
    
</canvas>
<button id="pause" class="gameButton">Pause</button>
<script src="js/pause.js"></script>
<script src="/js/logout.js"></script>
{{!-- <script src="/js/game/game.js"></script> --}}
{{!-- <script src="/js/game/Player.js"></script> --}}
<script src="/js/game/collisions.js"></script>
{{!-- <script src="/js/game/karlTest.js"></script> --}}
<script src="/js/game/modGame.js"></script>
