<div>
    <nav>
        <ul>
            <li><a>Save/ Load</a></li>
            <li><a>Profile</a></li>
            <li><a>Settings</a></li>
            <li><a>Controls</a></li>
        </ul>
    </nav>
    <div>
        <button>Save Game</button>
        <button>Load Game</button>
        <button id="logout">logout</button>
        <script src="../public/js/logout.js"></script>
    </div>
</div>